@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face {
    font-family: Gotham;
    src: url(/font/gotham.ttf); 
    src: local(gotham), url(/font/gotham.ttf); }
* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    background-attachment: fixed;
    background-size: cover;
}
.content {
    position:absolute;
    width:100%;
    top: 40%;
    text-align:center;
}
a {
    text-decoration: none;
}
.content p {
    color: rgb(255, 255, 255);
    font-size: 4vw;    
    letter-spacing: 10px;
    font-weight: 700;
    font-family: Gotham; 
}
.content h6 {
    color: rgb(250, 250, 250);  
    font-size: 1.5vw;
    letter-spacing: 1px;
    font-weight: 1;
    font-family: 'roboto', sans-serif;
}
video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}
