* {
    margin: 0;
    padding: 0;

}
main {
    width: 100%;
    height: 100vh;
    background-image: url(/images/patron/1.jpg);
    background-size: cover;
}
main h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    font-weight: 900;
    font-size: 2.3vw;
}
