@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    transition: 1s;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(124, 124, 124);
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo{
    text-align: center;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
}
.logo .title{
    font-size: 40px;
    font-family: monospace;
    font-weight: 600;
}
.logo .title-2{
    font-family: monospace;
    font-weight: 300;
}
.block{
    display: block;
}
.blocks1 .block:nth-child(1){
    width: 50vw;
    height: 50vh;
    background-color: green;
    background-image: url(/images/zis.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
.blocks1 .block:nth-child(2){
    width: 50vw;
    height: 50vh;
    background-color: rgb(101, 52, 236);
    background-image: url(/images/upz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.blocks2 .block:nth-child(1){
    width: 50vw;
    height: 50vh;
    background-color: rgb(255, 0, 221);
    background-image: url(/images/uaz.jpg);   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
}

.blocks2 .block:nth-child(2){
    width: 50vw;
    height: 50vh;
    background-color: rgb(153, 51, 51);
    background-image: url(/images/umz.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}
.block{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3vw;
    transition: 0.2s linear;
}
.block p{
    opacity: 0;
    transition: 0.2s ease;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.block:hover p{
    opacity:1;
    transition: 0.2s ease;
    color: white;
}


@media(max-width:1200px){
    .block p{
        opacity: 1;
        color: white;
    }
}